
.page_1 { 
    background-color: #FBF8F1;
}

.page_2{
    background-color: #FBF8F1;
}

header {
    background-color: #4DB7D3;
    padding: 5px;
    text-align: center;
    color: #FBF8F1;
}

nav {
    background-color: #92DEE4;
    margin-top: 5px;
    padding:5px;
    vertical-align: center;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
}

a:link {
    color:black;
}

    a:visited {
        color: black;
    }
    
    a:hover {
        color: #3379B7;
        text-decoration: underline;
    }

main {
    background-color: #C5EEEF;
    padding-left: 15px;
    padding-bottom: 15px;
}

footer {
    background-color: #4DB7D3;
    padding: 25px;
    text-align: center;
    color: #FBF8F1;
}

.list {
    width: 55%;
    margin-right:2%;
    float: left;
    font-size: large;
}

.table {
    width: 42%;
    float: right;
    border-collapse: collapse;
    padding-bottom: 25px;
}

.table tr, th, td{
    background-color: #FBF8F1;
    border: 2px solid #FBF8F1;
    border-collapse: collapse;
}

.table caption{
    font-weight: bold;
    font-size:large;
}

.clearfix {
    clear: both;
}

hr {
    border: 2.5px solid #FBF8F1;
    margin: 8px -1000px;
}

img {
    width: 500px;
    height: auto;
}

h3 {
    margin-left: 20px;
}

