
.page_1 { 
    background-color: #FBF8F1;
}

.page_2 {
    background-color: #FBF8F1;
}

header {
    background-color: #4DB7D3;
    padding: 5px;
    text-align: center;
    color: #FBF8F1;
}

nav {
    background-color: #92DEE4;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:5px;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
}

a:link {
    color:black;
}

    a:visited {
        color: black;
    }
    
    a:hover {
        color: #3379B7;
        text-decoration: underline;
    }

main {
    background-color: #C5EEEF;
}

footer {
    background-color: #4DB7D3;
    padding: 25px;
    text-align: center;
    color: #FBF8F1;
}

.list {
    width:55%;
    margin-right:2%;
    float: left;
}

.table {
    width: 42%;
    float: right;
    border-collapse: collapse;
}

.clearfix {
    clear: both;
}

hr {
    border: 2.5px solid white;
}

img {
    max-width: 100%;
    height: auto;
}